extends layout

block content
  h1= title
  p Welcome to #{title}
  //- when we submit the form, this is the path that will get called
  form(action="/", method="POST")
    input(name="lead_email", type="email", placeholder="Enter your email address")
    button(type="submit", ) Submit

  if leads
    h1 Leads
    for lead in leads
      p(id=lead.id)
        span #{lead.email}
        |
        a(href=`/lead/${lead.id}`) Details
        |
        // deleteLead() is a JS function
        button(onClick=`deleteLead('${lead.id}')`) Delete
    // load the dependeent JS libs last
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="/javascripts/lead.js")